@mixin buttonStyleTemplate($background-color: #7e0a14) {
    padding: 1rem;
    background-color: $background-color;
    border-radius: 5px;
    border: none;
    color: #bdbab4;
    font-weight: 600;
    font-size: 0.9rem;
    
}

@mixin buttonStyleSlim($background-color: #7e0a14) {
    @include buttonStyleTemplate($background-color: $background-color);
    padding: 5px;
    font-size: 1rem;
    width: 80%;
    margin: 0;
}

@mixin buttonStyle($width: 70%, $background-color: #7e0a14) {
    @include buttonStyleTemplate($background-color: $background-color);
    width: $width;
}

/* Add grade button hover sink in */
@mixin buttonHover ($background-color: #61030a){
    /* background-color gray */
    background-color: $background-color;
    cursor: pointer;
}

/* Add grade button onclick   */
@mixin buttonActive {
    /* Shrink */
    transform: scale(0.95);
}

@mixin quickButtonStyle($standard-color: #7e0a14, $hover-color: #61030a, $width:70%, $use-slim: false) {
    @if $use-slim {
        @include buttonStyleSlim($background-color: $standard-color)
    } @else {
        @include buttonStyle($width: $width, $background-color: $standard-color);
    }
        
    &:hover {
        @include buttonHover($background-color: $hover-color);
    }

    &:active {
        @include buttonActive;
    }
}